<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>inert.me.VerifyUser</servlet-class>
        <init-param>
            <param-name>admin-email</param-name>
            <param-value>admin@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>admin-password</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>inert.me.SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <servlet-class>inert.me.ShowUnactivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <servlet-class>inert.me.ShowUnactivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllProperty</servlet-name>
        <servlet-class>inert.me.ShowAllProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveProperty</servlet-name>
        <servlet-class>inert.me.saveProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeCustomerStatus</servlet-name>
        <servlet-class>inert.me.changeCustomerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeOwnerStatus</servlet-name>
        <servlet-class>inert.me.changeOwnerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnProperty</servlet-name>
        <servlet-class>inert.me.ViewOwnProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnPropertyforStatus</servlet-name>
        <servlet-class>inert.me.ViewOwnPropertyforStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePropertyStatus</servlet-name>
        <servlet-class>inert.me.changePropertyStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllPropertyForCustomer</servlet-name>
        <servlet-class>inert.me.ShowAllPropertyForCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPropertyResult</servlet-name>
        <servlet-class>inert.me.SearchPropertyResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOwnerApplied</servlet-name>
        <servlet-class>inert.me.deleteOwnerApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCustomerApplied</servlet-name>
        <servlet-class>inert.me.deleteCustomerApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockCustomer</servlet-name>
        <servlet-class>inert.me.BlockCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockOwner</servlet-name>
        <servlet-class>inert.me.BlockOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockProperty</servlet-name>
        <servlet-class>inert.me.BlockProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockingTheCustomer</servlet-name>
        <servlet-class>inert.me.BlockingTheCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockingTheOwner</servlet-name>
        <servlet-class>inert.me.BlockingTheOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockingTheProperty</servlet-name>
        <servlet-class>inert.me.BlockingTheProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOwnPropertyforRemove</servlet-name>
        <servlet-class>inert.me.ViewOwnPropertyforRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockPropertyByOwner</servlet-name>
        <servlet-class>inert.me.BlockPropertyByOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOwnerDetails</servlet-name>
        <servlet-class>inert.me.ShowOwnerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageToOwner</servlet-name>
        <servlet-class>inert.me.SendMessageToOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KillSession</servlet-name>
        <servlet-class>inert.me.KillSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerbyEmail</servlet-name>
        <servlet-class>inert.me.searchCustomerbyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCustomerbyName</servlet-name>
        <servlet-class>inert.me.searchCustomerbyName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOwnerbyEmail</servlet-name>
        <servlet-class>inert.me.searchOwnerbyEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchOwnerbyName</servlet-name>
        <servlet-class>inert.me.searchOwnerbyName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessage</servlet-name>
        <servlet-class>inert.me.sendMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMessagebyCust</servlet-name>
        <servlet-class>inert.me.sendMessagebyCust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyByOwner</servlet-name>
        <servlet-class>inert.me.ReplyByOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMsgByOwner</servlet-name>
        <servlet-class>inert.me.deleteMsgByOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyByCustomer</servlet-name>
        <servlet-class>inert.me.ReplyByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMsgByCustomer</servlet-name>
        <servlet-class>inert.me.deleteMsgByCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMsgByCustomer1</servlet-name>
        <servlet-class>inert.me.deleteMsgByCustomer1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteMsgByOwner1</servlet-name>
        <servlet-class>inert.me.deleteMsgByOwner1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageloader</servlet-name>
        <servlet-class>inert.me.imageloader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileForOwner</servlet-name>
        <servlet-class>inert.me.UpdateProfileForOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileForCustomer</servlet-name>
        <servlet-class>inert.me.UpdateProfileForCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateproperty</servlet-name>
        <servlet-class>inert.me.updateproperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowActivatedOwners</servlet-name>
        <servlet-class>inert.me.ShowActivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowActivatedCustomers</servlet-name>
        <servlet-class>inert.me.ShowActivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllPropertyUnverified</servlet-name>
        <servlet-class>inert.me.ShowAllPropertyUnverified</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activatePropertyCall</servlet-name>
        <servlet-class>inert.me.activatePropertyCall</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <url-pattern>/ShowUnactivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <url-pattern>/ShowUnactivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllProperty</servlet-name>
        <url-pattern>/ShowAllProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveProperty</servlet-name>
        <url-pattern>/saveProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeCustomerStatus</servlet-name>
        <url-pattern>/changeCustomerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeOwnerStatus</servlet-name>
        <url-pattern>/changeOwnerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnProperty</servlet-name>
        <url-pattern>/ViewOwnProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnPropertyforStatus</servlet-name>
        <url-pattern>/ViewOwnPropertyforStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePropertyStatus</servlet-name>
        <url-pattern>/changePropertyStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllPropertyForCustomer</servlet-name>
        <url-pattern>/ShowAllPropertyForCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPropertyResult</servlet-name>
        <url-pattern>/SearchPropertyResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOwnerApplied</servlet-name>
        <url-pattern>/deleteOwnerApplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCustomerApplied</servlet-name>
        <url-pattern>/deleteCustomerApplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockCustomer</servlet-name>
        <url-pattern>/BlockCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockOwner</servlet-name>
        <url-pattern>/BlockOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockProperty</servlet-name>
        <url-pattern>/BlockProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockingTheCustomer</servlet-name>
        <url-pattern>/BlockingTheCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockingTheOwner</servlet-name>
        <url-pattern>/BlockingTheOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockingTheProperty</servlet-name>
        <url-pattern>/BlockingTheProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOwnPropertyforRemove</servlet-name>
        <url-pattern>/ViewOwnPropertyforRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockPropertyByOwner</servlet-name>
        <url-pattern>/BlockPropertyByOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOwnerDetails</servlet-name>
        <url-pattern>/ShowOwnerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageToOwner</servlet-name>
        <url-pattern>/SendMessageToOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KillSession</servlet-name>
        <url-pattern>/KillSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerbyEmail</servlet-name>
        <url-pattern>/searchCustomerbyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCustomerbyName</servlet-name>
        <url-pattern>/searchCustomerbyName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOwnerbyEmail</servlet-name>
        <url-pattern>/searchOwnerbyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchOwnerbyName</servlet-name>
        <url-pattern>/searchOwnerbyName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMessagebyCust</servlet-name>
        <url-pattern>/sendMessagebyCust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyByOwner</servlet-name>
        <url-pattern>/ReplyByOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMsgByOwner</servlet-name>
        <url-pattern>/deleteMsgByOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyByCustomer</servlet-name>
        <url-pattern>/ReplyByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMsgByCustomer</servlet-name>
        <url-pattern>/deleteMsgByCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMsgByCustomer1</servlet-name>
        <url-pattern>/deleteMsgByCustomer1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteMsgByOwner1</servlet-name>
        <url-pattern>/deleteMsgByOwner1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageloader</servlet-name>
        <url-pattern>/imageloader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileForOwner</servlet-name>
        <url-pattern>/UpdateProfileForOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileForCustomer</servlet-name>
        <url-pattern>/UpdateProfileForCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateproperty</servlet-name>
        <url-pattern>/updateproperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowActivatedOwners</servlet-name>
        <url-pattern>/ShowActivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowActivatedCustomers</servlet-name>
        <url-pattern>/ShowActivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllPropertyUnverified</servlet-name>
        <url-pattern>/ShowAllPropertyUnverified</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activatePropertyCall</servlet-name>
        <url-pattern>/activatePropertyCall</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
